.card {
    max-height: calc(100% - 2 * var(--pad-m));
    max-width: calc(100% - 2 * var(--pad-m));
    border-radius: var(--pad-m);
    background-color: rgb(238, 238, 238);
    padding: var(--pad-m);
}