#data-table-wrapper {
    overflow: scroll;
}

#data-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

#data-table tr {
    padding: var(--pad-s);
}

#data-table>tbody>tr:nth-child(7n - 6) {
    background: rgb(255, 220, 220);
}

#data-table>tbody>tr:nth-child(7n - 5) {
    background: rgb(255, 234, 195);
}

#data-table>tbody>tr:nth-child(7n - 4) {
    background: rgb(255, 255, 193);
}

#data-table>tbody>tr:nth-child(7n - 3) {
    background: rgb(193, 255, 193);
}

#data-table>tbody>tr:nth-child(7n - 2) {
    background: rgb(193, 193, 255);
}

#data-table>tbody>tr:nth-child(7n - 1) {
    background: rgb(229, 192, 255);
}

#data-table>tbody>tr:nth-child(7n - 0) {
    background: rgb(255, 194, 255);
}

#data-table th {
    font-weight: bold;
}

#data-table td:first-child, #data-table th:first-child{
text-align: start;
}