.flex-container {
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-item {    
    background-color: aliceblue;
}

.flex-item > * + * {
    margin-top: 20px;
}