.img-overlay {
  position: relative;
  height: 250px;
  width: fit-content;
}

.img-overlay img {
  height: 100%;
  width: auto;
}

.img-overlay button {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}