.stack {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* gap: 10px; */
}

/* .stack > * {
    border: 1px solid red;
} */

.stack > * + * {
    margin-top: 10px;
}