@import "./reset.css";

:root {
  --pad-l: clamp(0px, 6vw, 120px);
  --pad-m: clamp(0px, calc(4vw - 20px), 80px);
  --pad-s: clamp(0px, calc(2vw - 10px), 40px);
}

body {
  background-color: rgb(255, 164, 164);
  color: black;
  font-size: clamp(0.8rem, 1.8vw, 1.1rem);
  font-family: Montserrat,Futura,sans-serif;
  text-align: center;
}

img {
  align-self: center;
}

h1, h2, h3, h4 {
  font-family: Bodoni MT,serif;
}

h1 {
  font-size: clamp(1rem, 7vw, 6rem);
}

h2 {
  font-size: clamp(1rem, 5vw, 3.5rem);
}

input, button, .button {
  border: 1px solid rgba(0, 0, 0, 0.062);
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 0.8rem;
  font-size: clamp(0.8rem, 1.8vw, 1.1rem);
  color: inherit;
  text-align: center;
}

.active {
  background-color: rgb(100, 72, 100);
  color: rgb(207, 175, 197);
}

.warning {
  color: darkred;
}

.invisible {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: inherit;
  font-size: inherit;
  margin-top: inherit;
  margin-bottom: inherit;
}

input {
  cursor: text;
}

button, .button {
  cursor: pointer;
}




/* Layouts */
@import "./components/layouts/Center.css";
@import "./components/layouts/GlobalStack.css";
@import "./components/layouts/Sidebar.css";
@import "./components/layouts/Splitter.css";
@import "./components/layouts/Stack.css";
@import "./components/layouts/Wrapper.css";
@import "./components/layouts/Flow.css";
@import "./components/layouts/ImgOverlay.css";
@import "./components/layouts/HeadSplitter.css";

/* Utilities */
@import "./components/utilities/Padding.css";
@import "./components/utilities/Height.css";
@import "./components/utilities/Width.css";
@import "./components/utilities/Scroll.css";

/* Components */
@import "./components/Card.css";
@import "./components/DataTable.css";