@import "./reset.css";

body {
  background-color: rgb(255, 164, 164);
  color: black;
  font-family: Montserrat,Futura,sans-serif;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: Bodoni MT,serif;
}

input,
button {
  border: 1px solid rgba(0, 0, 0, 0.062);
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 1rem;
  font-size: 1rem;
  color: inherit;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

input {
  cursor: text;
}

button {
  cursor: pointer;
}

.button {
  border: 1px solid rgba(0, 0, 0, 0.062);
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 1rem;
  font-size: 1rem;
  color: inherit;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
  cursor: pointer;
}

/* Layouts */
@import "./components/layouts/Center.css";
@import "./components/layouts/GlobalStack.css";
@import "./components/layouts/Sidebar.css";
@import "./components/layouts/Splitter.css";
@import "./components/layouts/Stack.css";
@import "./components/layouts/Wrapper.css";
@import "./components/layouts/Flow.css";

/* Utilities */
@import "./components/utilities/Padding.css";
@import "./components/utilities/Height.css";
@import "./components/utilities/Width.css";

/* Components */
@import "./components/Card.css";
@import "./components/DataTable.css";
@import "./components/Header.css";
@import "./components/Field.css";